@import '../../map.module.scss';

.heroSectionWrapper {
    width: 100%;
    background-color: color(very-light-grey-blue);
}

.heroSectionWall {
    max-width: 1500px;
    margin: auto;
    display: flex;
}

.heroSectionTextWrapper {
    font-family: $font-style;
    height: 100%;
    width: 40%;
}

.heroSectionImgsWrapper {
    min-height: 800px;
    width: 60%;
}