*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
  }

/* Mapa */
:root{
    --font-style: 'Open Sans', sans-serif ;

    --color-primary-blue: #7799bb;
    --color-primary-blue-dark: #262d40;
    --color-secondary-orange: #f26522;
    --color-secondary-orange-dark: #f5b490;
    --color-secondary-orange-light: #f6d3c3;
    --color-purple: #8a5b9d;
    --color-purple-light: #8081ab;
    --text-color: #414042;
    --text-color-primary: #32325d;
}

/* ************************************************** TOP NAVIGATION ************************************************** */

section#top-navigation{
    height: 97px;
    max-height: 97px;
    background-color: var(--color-primary-blue);
}


.top-navigation-maincontainer{
    height: 100%;
    width: 1112px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.top-navigation-maincontainer img{
    margin-right: 3px;
}


.top-navigation-maincontainer__street{
    font-family: var(--font-style);
    color: white;
    margin-right: auto;
    font-size: 14px;
}

.top-navigation-maincontainer__phone{
    font-family: var(--font-style);
    font-size: 14px;
    color: white;
    margin-right: 18px;
}

.top-navigation-maincontainer__phone img{
    margin-right: 8px;
}

.top-navigation-maincontainer__hours{
    font-family: var(--font-style);
    font-size: 14px;
    color: white;
}

.top-navigation-maincontainer__hours img{
    margin-right: 5px;
}

/* ************************************************** NAV BAR ************************************************** */

section#nav-bar{
    height: 152px;
    max-height: 152px;
    background-color: white;
}

.nav-bar_maincontainer-white{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-bar__navmenu-button {
    cursor: pointer;
}

.nav-bar_maincontainer{
    height: 100%;
    margin: 0 auto;
    width: 1112px;
    display: flex;
    align-items: center;
}

.nav-bar_maincontainer > .logo {
    height: auto;
    width: 270px;
    margin-right: auto;
}

.nav-bar__navmenu{
    font-family: var(--font-style);
    color: black;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
}

.nav-bar__navmenu li:not(:last-child):hover{
    color: var(--color-secondary-orange);
}

.nav-bar__navmenu li{
    transition: color 200ms;
}

.nav-bar__navmenu-button:last-child{
    color: white;
    background-color: var(--color-secondary-orange);
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.nav-bar__navmenu-button:last-child:hover{
    color: black;
}

/* HAMBURGER */
.open-menu{
    display: none;
}
.close-menu{
    display: none;
}

/* ************************************************** CAROUSEL SECTION ************************************************** */

section#carousel-section{
    height: 776px;
    max-height: 776px;
    background-color: var(--color-secondary-orange-light);
}

.carousel-section_maincontainer{
    height: 100%;
    margin: auto;
    width: 1112px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-section_maincontainer--text{
    font-family: var(--font-style);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
    width: 50%;
    position: relative;
    color: var(--color-primary-blue-dark);
}

.carousel-section_maincontainer--text p:first-of-type{
    line-height: 25px;
    color: black;
}

.carousel-section_maincontainer--text h1{
    letter-spacing: 1px;
    font-size: 50px;
    margin-bottom: 23px;
}

.trynow{
    background-color: var(--color-primary-blue);
    height: 48px;
    width: 130px;
    border-radius: 100px;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    font-family: var(--font-style);
    font-weight: bold;
    font-size: 17px;
    margin-top: 50px;
}

/* SLIDER */

.carausel__img-container-list{
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 500ms ease-in-out;
}

.carausel__img-container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-section_maincontainer--slider{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    top: 5%;
}

.navnavmain{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}

.carausel__img-container-list__item{
    width: 100%;
    height: 100%;
    position: absolute;
    /* top: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ARROWS */
.carousel-btn-left,
.carousel-btn-right{
    outline: none;
    border: none;
    background-color: var(--color-secondary-orange-light); 
    z-index: 2;
    position: relative;
    top: 10%;
    cursor: pointer;
}

/* DOTS */

.carousel__nav--btn{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: var(--color-secondary-orange-dark);
    margin-left: 6px;
    margin-right: 6px;
    cursor: pointer;
}

/* current dot */
.current--dot{
    background-color: var(--color-secondary-orange);
}

.navdots{
    width: 50%;
    height:  50%;
    z-index: 3;
    position: relative;
    left: 10%;
}

/* ************************************************** Our comapny section ************************************************** */

section#our-company{
    height: 800px;
    max-height: 800px;
}

.our-comapny-maincontainer{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-comapny-maincontainer__text{
    line-height: 25px;
    font-family: var(--font-style);
    font-size: 15px;
    margin-left: 110px;
}

.our-company-header{
    margin-bottom: 30px;
    position: relative;
    color: var(--text-color);
}

.our-company-header span{
    color: var(--color-secondary-orange);
}

.our-company-header h2{
    padding-bottom: 30px;
    font-size: 22px;
    position: relative;
    top: 6px;
}
.our-company-header h1{
    font-size: 50px;
    position: relative;
    top: 6px;
    color: #262d40;
}

.our-comapny-maincontainer__text p{
    padding-top: 30px;
    position: relative;
    top: 5px;
}

.our-comapny-maincontainer__text button{
    background-color: white;
    font-family: var(--font-style);
    color: var(--text-color);
    font-weight: bold;
    outline: none;
    border: none;
    margin-top: 30px;
    width: 140px;
    height: 30px;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    top: 5px;
}

.our-comapny-maincontainer img{
    position: relative;
    right: 86px;
    top: 2px;
}

/* ************************************************** Our work SECTION ************************************************** */
section#our-work{
    height: 518px;
    max-height: 518px;
}

.our-work-maincontainer{
    height: 100%;
    width: 1112px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 259px);
}

.our-work-maincontainer__toptext{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, calc(259px / 2));
}

.our-work-maincontainer__bottomtext{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(1112px / 3));
}

.our-work-maincontainer__toptext span{
    color: var(--color-purple);
}

.our-work-maincontainer__toptext h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-style);
    font-size: 48px;
    color: var(--text-color-primary);

    position: relative;
    bottom: 14px;
}

.our-work-maincontainer__toptext p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: var(--font-style);
    line-height: 32px;
    font-size: 17px;
    color: var(--text-color-primary);

    position: relative;
    bottom: 37px;
}

/* POINTS */

.our-work_point1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: var(--font-style);
    line-height: 25px;
    font-size: 16px;
}

.our-work_point1 p{
    position: relative;
    top: 20px;
}

.our-work_point1 h3{
    position: relative;
    top: 9px;
    font-size: 20px;
    color: var(--text-color-primary);
}

.our-work_point1 img{
    position: relative;
    bottom: 25px;
}

.our-work_point2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: var(--font-style);
    line-height: 28px;
    font-size: 16px;

    position: relative;
}

.our-work_point2 p{
    position: relative;
    top: 20px;
}

.our-work_point2 h3{
    position: relative;
    top: 13px;
    font-size: 20px;
    color: var(--text-color-primary);
}

.imgdiv{
    position: relative;
    bottom: 17px;
}

.oblak2{
    position: absolute;
    top: 10px;
    z-index: -2;
}

.our-work_point3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-family: var(--font-style);
    line-height: 25px;
    font-size: 16px;


    position: relative;
}

.our-work_point3 p{
    position: relative;
    top: 25px;
}

.our-work_point3 h3{
    position: relative;
    top: 15px;
    font-size: 20px;
    color: var(--text-color-primary);
}

.lupa{
    position: relative;
    bottom: 20px;
    right: 4px;
    /* background-color: red; */
}

.oblak{
    position: absolute;
    top: 10px;
    z-index: -2;
}

/* ************************************************** Our history SECTION ************************************************** */

section#our-history{
    max-width: 100%;
    height: 724px;
    max-height: 724px;
}

.our-history-maincontainer{
    /* background-color: lawngreen; */
    height: 100%;
    width: 1112px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, calc(1112px / 2));
}

.our-history-maincontainer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.our-history-maincontainer_text h2{
    line-height: 25px;
    font-family: var(--font-style);
    font-size: 21.5px;
    color: var(--text-color);

    position: relative;
    bottom: 30px;
}

.our-history-maincontainer_text h1{
    font-family: var(--font-style);
    color: var(--color-primary-blue-dark);
    /* font-size: 44.5px; */
    font-size: 50px;


    position: relative;
    bottom: 20px;
}

.our-history-maincontainer_text p{
    font-family: var(--font-style);
    line-height: 25px;
    font-size: 15px;


    position: relative;
    top: 15px;
}

.our-history-maincontainer_text button{
    background-color: white;
    font-family: var(--font-style);
    color: var(--text-color);
    font-weight: bold;
    outline: none;
    border: none;
    width: 140px;
    height: 30px;
    font-size: 23px;
    cursor: pointer;

    position: relative;
    top: 45px;
}

.our-history-maincontainer_text span{
    color: var(--color-secondary-orange);
}

.our-history-maincontainer_img{
    display: flex;
    justify-content: center;
    align-items: center;
    

    position: relative;
    right: 5px;
    top: 6px;
}

/* ************************************************** Creativity SECTION ************************************************** */

section#creativity{
    width: 100%;
    height: 546px;
    max-height: 546px;
}

.creativity-maincontainer{
    /* background-color: lawngreen; */
    height: 546px;
    width: 1112px;
    margin: auto;
    display: grid;
    grid-template-rows: 210px 1fr;
}

.creativity-maincontainer__toptext{
    font-family: var(--font-style);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creativity-maincontainer__toptext h2{
    font-size: 21.7px;
    color: var(--text-color);
    position: relative;
    top: 49px;
    letter-spacing: 0.2px;
}

.creativity-maincontainer__toptext h1{
    color: var(--color-secondary-orange);
    font-size: 49px;
    position: relative;
    top: 56px;
}

.creativity-maincontainer__bottomtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: var(--font-style);
    text-align: center;
    font-size: 14.5px;
    line-height: 25px;
}

.creativity-maincontainer__bottomtext-p1{
    position: relative;
    bottom: 55px;
}

.creativity-maincontainer__bottomtext-p2{
    position: relative;
    bottom: 28px;
}

.creativity-maincontainer__bottomtext button{
    background-color: white;
    font-family: var(--font-style);
    color: var(--text-color);
    font-weight: bold;
    outline: none;
    border: none;
    width: 140px;
    height: 30px;
    font-size: 23px;
    cursor: pointer;
}

/* ************************************************** Computer SECTION ************************************************** */

section#computer{
    width: 100%;
    height: 840px;
    max-height: 840px;
    position: relative;
    z-index: 1;
}

.computer-maincontainer{
    height: 100%;
    width: 1600px;
    margin: auto;

    text-align: center;
    font-family: var(--font-style);

    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.computer-maincontainer img:first-child{
    position: absolute;
    z-index: -1;
    top: 95px;
}

.computer-maincontainer img:nth-child(2){
    position: absolute;
    z-index: -1;
    top: 128px;
    right: 380px;
}


.computer-maincontainer h2{
    color: white;
    font-size: 29px;
    line-height: 35px;
    

    position: relative;
    bottom: 66px;
}

.computer-maincontainer p:first-of-type{
    color: white;
    font-size: 18px;

    position: relative;
    bottom: 30px;
}

.computer-maincontainer p:nth-child(5){
    color: white;
    font-style: italic;
    font-size: 17px;
    line-height: 25px;

    position: relative;
    bottom: 11px;
}

.computer-maincontainer button{
    border: none;
    outline: none;
    color: white;
    background-color: var(--color-secondary-orange);
    padding: 10px;
    padding-left: 29px;
    padding-right: 29px;
    cursor: pointer;
    z-index: 3;

    position: relative;
    top: 46px;
}

.computer-maincontainer img:nth-child(6){
    position: relative;
    top: 16px;
}

/* SIDEWAYS TEXT */

.computer-text_sideways{
    position: absolute;
    transform: rotate(-90deg);
    width: 200px;
    height: 100px;
    text-align: center;
    font-family: var(--font-style);


  /* Safari
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  /* -moz-transform: rotate(-90deg); */

  /* Opera */
  /* -o-transform: rotate(-90deg); */ 


  top: 350px;
  left: 140px;
}

.computer-text_sideways h1{
    color: #006699;
    font-size: 70px;
    letter-spacing: -2px;
    
    position: relative;
    top: 5px;
}

.computer-text_sideways h2{
    color: #452a31;
    font-size: 38px;
    letter-spacing: 2px;


    position: relative;
    bottom: 10px;
    left: 13px;
}

/* ************************************************** Numbers SECTION ************************************************** */

section#numbers{
    height: 383px;
    max-height: 383px;
}

.numbers-maincontainer{
    background-color: #e8c7a6;
    height: 100%;
    display: grid;
    grid-template-rows: 292px 1fr;
}

.numbers-maincontainer_nums{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1112px;
    margin: auto;

    color: black;
    font-family: var(--font-style);
}

.nums{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nums h1{
    font-size: 49px;
    font-weight: 200;
    
    position: relative;
    bottom: 12px;
}

.nums p{
    font-size: 13px;
    letter-spacing: 3px;

    
}

.numbers-maincontainer_action-wrapper{
    width: 100%;
    background-color: var(--color-secondary-orange-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers-maincontainer_action{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-style);
    gap: 10px;
}


.numbers-maincontainer_action p{
    color: white;
    font-weight: bold;
    font-size: 21.5px;

    position: relative;
    right: 83px;
}

.numbers-maincontainer_action button{
    padding: 17px;

    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--color-primary-blue);
    letter-spacing: 2px;
    position: relative;
    left: 44px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}

.numbers-maincontainer_action span{
    color: #36a2f4;
    font-weight: bold;
}

/* ************************************************** Request a demo SECTION ************************************************** */

section#request-demo{
    width: 100%;
    height: 341px;
    max-height: 341px;
}

.request-demo-maincontainer{
    height: 100%;
    width: 1112px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.request-demo-maincontainer_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    font-family: var(--font-style);
    font-weight: 200;
}

.request-demo-maincontainer_text h1{
    font-size: 50px;
    font-weight: 200;

    position: relative;
    bottom: 9px;
    right: 5px;
}
.request-demo-maincontainer_text span{
    font-weight: bold;
    color: #212240;
}

.request-demo-maincontainer_text h3{
    color: #212240;
    font-size: 23px;

    position: relative;
    bottom: 7px;
}

.request-demo-maincontainer_request{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e4e4de;
    height: 81px;
    font-family: var(--font-style);

    border-radius: 10px;

    position: relative;
    top: 130px;
}

.request-demo-maincontainer_request p{
    color: var(--color-purple-light);
    font-size: 23px;
    font-weight: bold;

    position: relative;
    right: 25px;
}

.request-demo-maincontainer_request input{
    background-color: #e4e4de;
    outline: none;
    border: none;
    height: 50px;
    width: 218px;

    position: relative;
    right: 110px;
}

.request-demo-maincontainer_request input::placeholder{ 
    color: var(--color-purple-light);
    font-family: var(--font-style);
    font-weight: bold;
    font-size: 18px;
}

.request-demo-maincontainer_request button{
    background-color: #e4e4de;
    outline: none;
    border: none;
    color: #5b5975;
    font-weight: bold;
    cursor: pointer;

    position: relative;
    left: 6px;
}

/* ************************************************** Footer SECTION ************************************************** */

section#footer{
    height: 672px;
    max-height: 672px;
    width: 100%;
}

.footer-blue-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--color-primary-blue);
}

.footer-blue{
    height: 584px;
    width: 1112px;
    margin: auto; 


    display: grid;
    grid-template-columns: 420px 1fr;
}

.footer-blue_contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-blue_contact p{
    font-family: var(--font-style);
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;

    position: relative;
    bottom: 13px;
    right: 135px;
}

.footer-blue_contact h3{
    font-family: var(--font-style);
    color: white;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;

    position: relative;
    top: 18px;
    right: 120px;
}

.footer-blue_contact img{
    position: relative;
    right: 75px;
    bottom: 65px;
}

.footer-blue_contact-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    position: relative;
    top: 126px;
    right: 58px;
}

/* Footer menu */

.footer-blue_menu{
    font-family: var(--font-style);
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, calc(585px / 6));
}

.footer-blue_menu p:nth-child(1),
.footer-blue_menu p:nth-child(2),
.footer-blue_menu p:nth-child(3){
    position: relative;
    top: 152px;
}

.footer-blue_menu p:nth-child(4),
.footer-blue_menu p:nth-child(5),
.footer-blue_menu p:nth-child(6){
    position: relative;
    top: 105px;
}

.footer-blue_menu p:nth-child(7),
.footer-blue_menu p:nth-child(8),
.footer-blue_menu p:nth-child(9){
    position: relative;
    top: 56px;
}

.footer-blue_menu p:nth-child(10),
.footer-blue_menu p:nth-child(11),
.footer-blue_menu p:nth-child(12){
    position: relative;
    top: 10px;
}

.footer-blue_menu p:nth-child(13),
.footer-blue_menu p:nth-child(14),
.footer-blue_menu p:nth-child(15){
    position: relative;
    bottom: 38px;
}

.footer-blue_menu p:nth-child(16){
    position: relative;
    bottom: 86px;
}

.footer-blue_menu p:hover{
    color: var(--color-secondary-orange);
}

/* Copyright */

.footer-grey-wrapper{
    background-color: #acacac;
    width: 100%;
}

.footer-grey{
    height: 88px;
    max-height: 88px;
    width: 1112px;
    margin: auto;

    font-family: var(--font-style);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-grey ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    gap: 20px;
    letter-spacing: 1px;
}

.copyright-left{
    position: relative;
    right: 295px;
}

.copyright-right{
    position: relative;
    left: 290px;
}

/* ************************************************** MEDIA QUERY ************************************************** */

/* 1250px */

@media screen and (max-width:1250px){

    body{
        overflow-x: hidden;
    }

    .computer-maincontainer{
        width: 350px;
    }

    .computer-maincontainer img:first-child{
        width: 900px;
    }

    .computer-maincontainer img:nth-child(2){
        width: 670px;
        left: -160px;
    }

    .computer-maincontainer h2{
        font-size: 20px;
        top: -100px;
    }

    .computer-maincontainer p:first-of-type{
        font-size: 13px;
        top: -80px;
    }

    .computer-maincontainer p:nth-child(5){
        font-size: 13px;
        top: -60px;
    }

    .computer-maincontainer img:nth-child(6){
        height: 60px;
        width: 60px;
        top: -60px;
    }

    .computer-maincontainer button {
        top: -40px;
    }

    /* sideways text */

    .computer-text_sideways{
        display: none; 
    }

    /* ************************************************** TOP NAVIGATION ************************************************** */
    .top-navigation-maincontainer{
        width: 1000px;
    }

    .top-navigation-maincontainer__street{
        margin-right: 410px;
    }

    /* **************************************************  NAV BAR ************************************************** */
    .nav-bar_maincontainer{
        width: 1000px;
    }

    .nav-bar_maincontainer > .logo{
        margin-right: 82px;
    }

    .nav-bar__navmenu-button:nth-child(6){
        width: 180px;
    }

    /* **************************************************  CAROUSEL SECTION ************************************************** */
    .carousel-section_maincontainer{
        width: 1000px;
    }

    /* **************************************************  OUR COMPANY SECTION ************************************************** */
    .our-comapny-maincontainer{
        width: 1000px;
    }

    .our-comapny-maincontainer img{
        height: 450px;
        width: 600px;
        


        position: relative;
        left: 50px;
    }

    .our-company-header h2{
        font-size: 16px;
    }

    .our-company-header h1{
        font-size: 35px;
    }

    .our-comapny-maincontainer__text p{
        font-size: 10px;
    }

    .our-comapny-maincontainer__text button{
        font-size: 20px;
        right: 14px;
    }

    /* **************************************************  OUR HISTORY SECTION ************************************************** */
    .our-history-maincontainer{
        width: 1000px;
    }

    .our-history-maincontainer_img{
        right: 80px;
    }

    .our-history-maincontainer_text h2{
        font-size: 16px;
    }

    .our-history-maincontainer_text h1{
        font-size: 35px;
    }

    .our-history-maincontainer_text p{
        font-size: 13px;
    }

    .our-history-maincontainer_text button{
        font-size: 20px;
        right: 14px;
    }

    /* **************************************************  NUMBERS SECTION ************************************************** */
    .numbers-maincontainer_action{
        width: 1000px;
    }
    
    /* **************************************************  FOOTER SECTION ************************************************** */

    .footer-blue-wrapper{
        width: 100%;
    }

    .footer-grey{
        width: 1000px;
    }

    .copyright-left{
        right: 200px;
    }

    .copyright-right{
        left: 200px;
    }
}

/* 1050px */

@media screen and (max-width:1050px){

    body{
        overflow-x: hidden;
    }
    
    /* ************************************************** TOP NAVIGATION ************************************************** */
    .top-navigation-maincontainer{
        width: 900px;
    }

    .top-navigation-maincontainer__street{
        font-size: 10px;
        margin-right: 330px;
        width: 280px;
    }

    .top-navigation-maincontainer__phone{
        font-size: 10px;
    }

    .top-navigation-maincontainer__hours{
        font-size: 10px;
    }

    /* ************************************************** NAV BAR ************************************************** */
    .nav-bar_maincontainer{
        width: 900px;
    }

    .nav-bar_maincontainer > .logo {
        width: 150px;
        height: auto;
        margin-right: auto;
    }

    .nav-bar__navmenu{
        font-size: 13px;
    }

    .nav-bar__navmenu li:nth-child(6){
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }

    /* ************************************************** Carousel Section ************************************************** */
    .carousel-section_maincontainer{
        width: 900px;
    }

    /* ************************************************** Our Company Section ************************************************** */
    .our-comapny-maincontainer img{
        width: 400px;
        height: auto;
    }

    /* ************************************************** Our Work Section ************************************************** */
    .our-work-maincontainer{
        width: 900px;
    }

    .our-work-maincontainer__bottomtext{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, calc(900px / 3));
    }

    /* ************************************************** Our History Section ************************************************** */
    .our-history-maincontainer{
        width: 900px;
    }

    .our-history-maincontainer_img{
        width: 100px;
        height: auto;
        right: 0px;
        top: 0px;
    }
    .our-history-maincontainer_img img{
        width: 400px;
        height: auto;
    }

    /* ************************************************** Creativity Section ************************************************** */
    .creativity-maincontainer{
        width: 900px;
    }

    .creativity-maincontainer__bottomtext{
        font-size: 13px;
    }

    /* ************************************************** Numbers SECTION ************************************************** */

    .numbers-maincontainer_nums{
        gap: 20px;
    }
    .nums1 h1{
        font-size: 35px;
        width: 150px;
        margin-left: 25px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;        
    }

    .nums1 p{
        width: 150px;
        font-size: 15px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums2 h1{
        font-size: 35px;
        width: 150px;
        margin-left: 15px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums2 p{
        width: 150px;
        font-size: 15px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums3 h1{
        font-size: 35px;
        width: 150px;
        right: 80px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums3 p{
        width: 150px;
        font-size: 15px;
        right: 80px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums4 h1{
        font-size: 35px;
        width: 150px;
        right: 250px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .nums4 p{
        width: 150px;
        right: 250px;

        position: relative;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;  
    }

    .numbers-maincontainer_action{
        width: 900px;
    }
    
    /* ************************************************** Request a demo SECTION ************************************************** */
    .request-demo-maincontainer{
        width: 900px;
    }

    .request-demo-maincontainer_request input{
        position: relative;
        right: 20px;
    }

    /* ************************************************** footerSECTION ************************************************** */
    .footer-blue{
        width: 900px;
    }

    .footer-grey{
        width: 900px;
    }
    
    .footer-grey ul{
        font-size: 13px;
    }
}