@import '../../../map.module.scss';

.cartImg {
    height: 1.2rem;
    width: auto;
    background-color: transparent;
}

.navWrapper {
    padding: 2rem 0 2rem 0;

    .navbarWall {
        max-width: 1500px;
        margin: auto;
        display: flex;
        justify-content: space-between;

        .navMenuWrapper {
            display: flex;
            justify-content: space-between;
            min-width: 18rem;

            .navMenuLink {
                color: color(grayish-blue);
                font-family: $font-style;
                font-weight: 700;
                text-decoration: none;
                position: relative;

            }

            .active {
                // border-left: 2px solid color(lime-green);
                // border-right: 2px solid color(lime-green);
                // border-top: 2px solid color(lime-green);
                border-bottom: 5px solid color(lime-green);
                // background-color: color(lime-green);
                text-decoration: none;
            }



            .navMenuLink::before {
                content: '';
                transition: all 250ms ease-in-out;
                position: absolute;
                top: 30px;
                left: 0;
                background: linear-gradient(90deg, rgba(49, 211, 92, 1) 0%, rgba(43, 183, 218, 1) 100%);
                width: 0rem;
                height: 0.2rem;
            }

            .navMenuLink:hover::before {
                width: 100%;
            }

        }
    }
}



.navCartButton {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        margin-left: 10px;
    }
}

.nOfItemsInCart {
    margin-left: 0.2rem;
}

.absoluteCart {
    cursor: pointer;
    position: fixed;
    top: 5rem;
    right: -3rem;
    z-index: 999;
    width: 7rem;
    height: 5rem;
    border-radius: 15px;
    padding: 4px;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    transition: right 200ms ease-in-out;
    font-size: 20px;


    background: rgba(49, 211, 92, 0.8);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid black;

    img {
        height: 1.7rem;
        width: auto;
        margin-left: 8px;
    }
}

.absoluteCart:hover {
    right: -1rem;
}