:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);

  /* $border-size: 0.25em;
$border-color: hsl(0, 90, 40); */
--border-size: 25em;
--border-color: hsl(0,90,40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;

  background-color: #fff;
  padding: 2rem;

  display: flex;

  overflow-x: hidden;
  overflow-y: hidden;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}


/* Header */
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}



.title{
  margin-bottom: 3.7rem;
  margin-right: auto;
  margin-left: auto;
  width: 60%;
  text-align: center;
  font-size: 2rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

/* SIDEBAR */
.sidebar {
  flex-basis: 55rem;
  background-color: var(--color-dark--1);
  padding: 3rem 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
}

.logo {
  width: 23%;
  height: auto;
  align-self: center;
  margin-bottom: 4rem;
}

.workouts {
  list-style: none;
  height: 77vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}

.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
}

.workout__details {
  display: flex;
  align-items: baseline;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 9.25rem;
  transition: all 0.5s, transform 1ms;
}

.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__row--hidden {
  display: none;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.form__btn {
  display: none;
}

.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.twitter-link:link,
.twitter-link:visited {
  color: var(--color-light--1);
  transition: all 0.2s;
}

.twitter-link:hover,
.twitter-link:active {
  color: var(--color-light--2);
}

/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;

}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}


/* footer */
.footer{
  width: 100%;
  display: flex;
}

.clear-btn{
  height: 2.5em;
  width: 78%;
  border: none;
  outline: none;
  border-radius: 15px;
    -moz-border-radius: 15px;
  color: #aaa;
  background-color:#42484d ;
  font-family: inherit;
  font-weight: 900;
  cursor: pointer;
  margin-top: 10px;
}

.clear-btn:hover{
  background-color:#aaa;
  color: black;
}

.logout-btn{
  height: 2.5em;
  width: 19%;
  margin: auto;
  border: none;
  outline: none;
  border-radius: 15px;
    -moz-border-radius: 15px;
  color: #aaa;
  background-color:#42484d ;
  font-family: inherit;
  font-weight: 900;
  cursor: pointer;
  margin-top: 10px;
}

.logout-btn:hover{
  background-color:#aaa;
  color: black;
}


/* login */
.login-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 500;
  background-color: var(--color-dark--1);
  background-image: url('./backgorund.jpg');
  background-position: center;
  background-size: cover;
  


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  transition-delay: 250ms;
}


.login-wrapper.hidden{
  transform: translateY(-100%);
  animation: blink 300ms;
}

@keyframes blink{
  0%{
    background-color: var(--color-dark--1);
  }
  50%{
    background-color: white;
    background-image: none;
  }
  100%{
    background-color: var(--color-dark--1);
  }
}


.login-form{
  background-color: var(--color-dark--2);
  height: 12em;
  width: 25em;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 5px 15px 5px #000000;
}

.login-username,
.login-password{
  outline: none;
  border: none;
  width: 15em;
  margin: 0 auto 0 auto;
  border-radius: 5px;
  /* text-align: center; */
  background-color: transparent;
  border-bottom: 4px solid var(--color-dark--1);
  color: white;
}
.login-password{
  margin-top: 1em;
}
.login-username{
  margin-top: 1em;
}

.login-form.hidden{
  animation: bigsmall 300ms ease-in-out;
}

@keyframes bigsmall{
  0%{
    height: 12em;
    width: 25em;
  }
  50%{
    height: 15em;
    width: 30em;
  }
  100%{
    height: 12em;
    width: 25em;
  }
}

.login-btn{
  margin: 1em auto 0.5em auto;
  width: 10em;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 15px;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  cursor: pointer;
}
.login-btn:hover{
  background-color: white;
  color: black;
  background-image: none;
  font-weight: bold;
}

.login-tutorial{
  font-family: 'Manrope', sans-serif;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark--2);
  position: relative;
  top: 300px;

  height: 5em;
  width: 16em;
  transition: all 500ms;
}

.login-tutorial:hover{
  background-color: white;
  color: black;
  animation: biggernoti 500ms ease-in-out;
  height: 10em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  top: 200px;
  border-radius: 15px;
}




