body {
    height: 100vh;
}

.card {
    width: 60%;
    height: 80%;
    padding: auto;
    text-align: center;
    background: #242625;
    border-radius: 10px;
    box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;

    &__container {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-items: center;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        width: 90%;
        height: 95%;
        background: #191a19;
        margin: 10px auto;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 16px 16px 44px #0a0a0a,
            -16px -16px 44px #282a28;
        transition: 0.3s all ease-in-out;
    }

    &__header {
        text-transform: uppercase;
        font-size: 20px;
        margin: 40px auto;
    }

    &__button {
        padding: 10px;
        border-radius: 50px;
        background: #1f75c4;
        color: white;
        font-weight: bold;
        cursor: pointer;
        border: none;
        margin: 50px auto;
    }

    &__button:hover {
        background-color: white;
        color: black;
        cursor: none;
    }

    &__button::after {
        content: "";
        position: absolute;
        top: 40rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: black;
        transition: all 0.5s;
    }
}