.toDo {
    list-style: none;
    background-color: #FF9F45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em 0 3em;
    margin: 1em 0 1em 0;
    border-radius: 20px;
    border: 1px solid black;
}

.btnWrapper {
    display: flex;
    flex-direction: column;
}

.btn {
    background-color: #FFBC80;
    text-align: center;
    max-width: 6em;
    margin: 0.5em 0 0.5em 0;
}

.btnFini {
    height: 20px;
    width: 8em;
    height: 2em;
    border: none;
    border-radius: 10px;
    border: 2px solid orangered;
    font-weight: bold;
    background-color: orangered;
    color: white;
    background-color: #FFBC80;
    text-align: center;
    max-width: 6em;
    margin: 0.5em 0 0.5em 0;
}

.btnFini:hover {
    background-color: white;
    color: black;
}

.font {
    font-family: "Shizuru", cursive;
    font-weight: bold;
    margin-right: 5rem;
}

.finished {
    background-color: #adff2f;
    opacity: 50%;
}