.toDo{
    list-style: none;
    background-color: #FF9F45;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em 0 3em;
    margin: 1em 0 1em 0;
    border-radius: 20px;
}

.btnWrapper{
    display: flex;
    flex-direction: column;
}

.btn{
    background-color: #FFBC80;
    text-align: center;
    max-width: 6em;
    margin: 1em 0 1em 0;
}

.font{
    font-family: "Shizuru",cursive;
    font-weight: bold;
}

.finished{
    background-color: #adff2f;
    opacity: 50%;
}

