@import '../../../../map.module.scss';

.itemCard {
    z-index: 10;
    background-color: color(light-grayish-blue);
    position: fixed;
    top: 50%;
    left: 50%;
    height: 40rem;
    width: 60rem;
    margin-top: -20rem;
    margin-left: -30rem;
    font-family: $font-style;
    padding: 2rem;
    border-radius: 20px;

    .closeIcon {
        position: absolute;
        height: 1rem;
        width: auto;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }
}

.mySwiper {
    width: 100%;
    height: 40%;
    background-color: white;
    border-radius: 5px;

    img {
        height: 272px;
        width: 300px;
    }
}

.itemModulDetails {
    height: 60%;
    width: 100%;
    padding: 2rem;
    display: flex;

    .itemDescriptionWrapper {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        h1 {
            margin-bottom: 3rem;
        }

        .itemDescription {
            max-width: 70%;
            color: color(dark-blue);
        }
    }

    .itemStatsWrapper {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;

        p {
            margin-bottom: 1.5rem;
        }
    }
}