@import './map.module.scss';

// **************************************************** Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

// ****************************************************


.pageWrapper {
  width: 100%;
  position: relative;
}

.fullPageLoader {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}