@import '../../../map.module.scss';


.switchWrapper {
    width: 100%;
}

.switchWall {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: flex-end;

    button {
        outline: none;
        border: none;
        padding: 0.7rem;
        margin: 0 1rem 0 1rem;
        border-radius: 20px;
        background: color(lime-green);
        cursor: pointer;
        color: white;
        margin-bottom: 2rem;
    }

    .active {
        background-color: color(dark-blue);
    }
}