.errorWrapper{
    width: 20em;
    height: 8em;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    background-color: #FF9F45;
    border-radius: 15px;
}