@import '../../../map.module.scss';

.itemsContainerWrapper {
    background-color: color(very-light-grey-blue);
    font-family: $font-style;
}

.itemsContainerWall {
    margin: auto;
    max-width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

.spinnerWrapper {
    max-width: 1500px;
    margin: auto;
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}